.App {
  width: 60%;
  margin: 50px auto;
  text-align: center;
}

.Employees {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.Employee {
  border-radius: 10px;
  border: 2px solid green;
  padding: 20px;
}
.Employee h2 {
  margin-top: 0;
}

.controlButton {
  margin-top: 30px;
  padding: 20px;
  background: #ccc;
}
.controlButton span.value {
  display: block;
  margin: 0 auto 30px;
  font-size: 24px;
}

.controlButton .buttons {
  display: flex;
  justify-content: space-evenly;
}
.controlButton .buttons button {
  color: green;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

.controlButton .buttons button:hover {
  background: green;
  color: #fff;
}
